/* ----------------------------------- VARIABLES ----------------------------------- */
:root{
    --theme-primary-color: #161B40;
    --bar-default-color: #ffffff;
    --menu-color: #ffffff;
    --menu-hover-background-color: #ffffff;
    --menu-hover-font-color: #ffffff;
}
/* =================================================================================================================================== */



/* ------------------------------- PRESET CSS RULES --------------------------------- */
*,*::before,*::after {
    box-sizing: border-box;
}

body,
h1,h2,h3,h4,
p,
figure,
blockquote,
dl,dd {
    margin: 0;
}

a{
    text-decoration: none;
    color: unset;
}

ul,ol{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    min-height: 100vh;
}
/* =================================================================================================================================== */




/*  --------------------------------------- LOGO -----------------------------------------------*/

nav{
    padding: 5px;
}
.logo{
    margin-left: 2rem;
    border: 2px solid red;
    font-size: 1rem;
    padding: 5px 0;
    cursor: pointer;
}

.logo p:nth-child(2){
    letter-spacing: 7px;
}

.logo p:nth-child(1){
    letter-spacing: 5px;
}

.logo-art-container{
    display: flex;
    align-items: flex-end;
}

.logo-art{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.logo-art .logo-line{
    width: 3px;
    background-color: black;
    margin: 3px;
    border-radius: 10px;
    transition: all 0.5s;
}

.logo-art .logo-line1{
    height: 25px;
}

.logo-art .logo-line2{
    height: 18px;
}

.logo-art .logo-line3{
    height: 23px;
}

.logo-art .logo-line4{
    height: 25px;
}

.logo-art .logo-line5{
    height: 10px;
}


.logo:hover .logo-line1{
    height: 25px;
}
.logo:hover .logo-line5{
    height: 5px;
}
.logo:hover .logo-line4{
    height: 10px;
}
.logo:hover .logo-line2{
    height: 20px;
}
.logo:hover .logo-line3{
    height: 15px;
}

/* --------------------------------------- NAVBAR -------------------------------------------- */
.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid green;
}

.main-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2rem;
    font-size: 1.2rem;
    border: 2px solid red;
}

.main-menu > li{
    margin: 10px 30px;
}

.hamburger{
    width: 30px;
    height: 30px;
    border: 2px solid red;
    margin-right: 1rem;
    padding: 2px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    display: none;
}

.hamburger-line{
    width: 100%;
    height: 3px;
    background-color: black;
    border-radius: 10px;
}

.small-screen-nav-menu{
    position: fixed;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    background-color: black;
    color: white;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    transition: right 0.5s ease;
}

.small-screen-nav-menu-active{
    right: 0;

}

.cross-button{
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
}

.cross-line{
    width: 5px;
    height: 22px;
    background-color: white;
    border-radius: 7px;
    margin: 3px;
    cursor: pointer;
}

.cross-line2{
    margin-right: 20px;
}

.small-screen-nav-menu-active .cross-line1{
    animation-name: moveCrossLine1;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards
}

.small-screen-nav-menu-active .cross-line2{
    animation-name: moveCrossLine2;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards
}

.small-screen-main-menu{
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5rem;
}

.small-screen-main-menu .algo-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;
}

.small-screen-main-menu .algo-list p{
    font-size: 1.5rem;
}

.small-screen-dropdown-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 150px;
}

.nav-link{
    position: relative;
    padding: 3px 0;
}

.nav-link::before,
.nav-link::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: chocolate;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.3s
}

.nav-link::after{
    bottom: 0;
}

.nav-link::before{
    top: 0;
}

.nav-link:hover::before,
.nav-link:hover::after{
    transform: scaleX(1);
}



@keyframes moveCrossLine1{
    0%{
        transform: rotate(0) translateX(0);
    }
    100%{
        transform: rotate(40deg) translateX(7px);
    }
}

@keyframes moveCrossLine2{
    0%{
        transform: rotate(0) translateX(0);
    }
    100%{
        transform: rotate(-40deg) translateX(-7px);
    }
}



/* ------ DROP DOWN --------- */

.sorting{
    position: relative;
}

.dropdown-menu{
    position: absolute;
    left: -30px;
    margin-top: 5px;
    width :150px;
    height: 200px;
    border-radius: 7px;
    background-color: black;
    display: none;
    opacity: 0;
    transition: 0.2s all ease;
    animation: none;
}

.dropdown-menu-on{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    animation: fadeIn 0.5s 1 normal forwards;
}

.sorting li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}

.sorting a{
    transition: 0.5s all ease;
}

.sorting a:hover{
    transform: scale(1.1);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-15px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* =================================================================================================================================== */



/* ----------------------------------------- CONFIG MENU  ------------------------------------------- */
/* -------- RANGE SLIDER ----------*/
.config-menu{
    display: flex;
    justify-content:space-between;
    align-items: center;
    border: 2px solid red;
}

.config-menu-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.config-slider{
    flex-basis: 60%;
}

.config-button{
    flex-basis: 40%;
}

.bar-range-input, .speed-range-input{
    align-items: center;
    display: flex;
}

.bar-range-input-label, .speed-range-input-label{
    margin-top: -3px;
    margin-right: 10px;
}

.bar-range-input input, .speed-range-input input{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    width: 150px;
    height: 5px;
    border-radius: 7px;
    background-color: #4471ef;
    border: none;
    outline: none;
}

/*chrome*/
.bar-range-input input::-webkit-slider-thumb, .speed-range-input input::-webkit-slider-thumb{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #eee;
    border: 2px solid #4471ef;
    border-radius: 50%;
    transition: 0.3s all ease;
}

/*firefox*/
.bar-range-input input::-moz-range-thumb, .speed-range-input input::-moz-range-thumb{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #eee;
    border: 2px solid #4471ef;
    border-radius: 50%;
    transition: 0.3s all ease;
}

/*IE*/
.bar-range-input input::-ms-thumb, .speed-range-input input::-ms-thumb{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #eee;
    border: 2px solid #4471ef;
    border-radius: 50%;
    transition: 0.3s all ease;
}

/*chrome*/
.bar-range-input input::-webkit-slider-thumb:hover, .speed-range-input input::-webkit-slider-thumb:hover{
    background-color: #4471ef;
}

/*Firefox*/
.bar-range-input input::-moz-thumb:hover, .speed-range-input input::-moz-thumb:hover{
    background-color: #4471ef;
}

/* IE */
.bar-range-input input::-ms-thumb:hover, .speed-range-input input::-ms-thumb:hover{
    background-color: #4471ef;
}

.bar-range-value{
    margin-left: 7px;
    border: 1px solid red;
    width: 30px;
    height: 20px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* -------------- Buttons ------------- */
button{
    all: unset;
    cursor: pointer;
}


/* =================================================================================================================================== */



/* ------------------------------------ VISUALIZER ------------------------------------------ */
.visualizer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0rem;
    border: 2px solid red;
    margin-top: 1rem;
}

.bubble-container{
    /* background-color: var(--theme-primary-color); */
    padding-top: 3%;
    border: 2px solid green;
}

.bar-number{
    margin: 0 1rem;
}

.bar-container{
    width: 90vw;
    border: 2px solid blue;
    height: 50vh;
    display: flex;
    align-items: flex-end;
}

.bar{
    background-color: black;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 0;
}

.slideup{
    transition: 1s height cubic-bezier(.26,.27,.02,1.6);
} 

.step-controls{
    border: 2px solid red;
    margin-top: 1.5rem;
}
/* ==========================================================================================================================*/


/* Steps Contorls */
.step-controls{
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-controls-button{
    margin: 0 5%;
}

/* ============================================================================================================================*/



/* ---------------------------------- FOOTER -------------------------------------- */
footer{
    border: 2px solid green;
    margin-top: 2rem;
}
/* =================================================================================================================================== */





@media screen and (max-width: 750px) {
    /* NavBar */
    .main-menu{
        font-size: 1rem;
    }

    .logo{
        font-size: 0.9rem;
    }

    .logo-art .logo-line1{
        height: 25px;
    }
    
    .logo-art .logo-line2{
        height: 18px;
    }
    
    .logo-art .logo-line3{
        height: 23px;
    }
    
    .logo-art .logo-line4{
        height: 25px;
    }
    
    .logo-art .logo-line5{
        height: 10px;
    }

    .main-menu > li{
        margin: 10px 15px;
    }

    /* Dropdown menu */
    .dropdown-menu{
        width: 130px;
        height: 170px;
    }



    /* ---------------------------config menu---------------------------------- */
    .config-menu-button{
        flex-direction: column;
        flex-basis: 50%;
    }
    .config-slider div{
        padding: 15px;
    }
    .config-button button{
        padding: 15px;
    }
    .config-slider .bar-range-input{
        padding-left: 40px;
    }
    .config-slider{
        flex-basis: 60%;
    }
    
    .config-button{
        flex-basis: 40%;
    }

    /* Footer */
    footer{
        margin-top: 1.5rem;
    }
}

@media screen and (max-width: 600px){
        /* Navbar */
        .nav-menu{
            display: none;
        }
        .hamburger{
            display: flex;
        }
}

@media screen and (max-width: 450px){

    /* config menu */
    .config-menu{
        flex-direction :column;
    }
    .config-menu-button{
        width: 100%;
    }
    .config-slider .bar-range-input{
        width: 100%;
        padding-left: 15px;
    }
    .speed-range-input{
        width: 100%;
    }
    .config-button{
        flex-direction: row;
    }
    .bar-range-input input{
        width: 90%;
    }
    .speed-range-input input{
        width:75%;
    }
}

@media screen and (max-width: 450px){
    .logo{
        font-size: 0.7rem;
    }

    .logo-art .logo-line1{
        height: 25px;
    }
    
    .logo-art .logo-line2{
        height: 15px;
    }
    
    .logo-art .logo-line3{
        height: 20px;
    }
    
    .logo-art .logo-line4{
        height: 25px;
    }
    
    .logo-art .logo-line5{
        height: 5px;
    }
}

@media screen and (min-width: 600px){
    .small-screen-nav-menu{
        display: none;
    }
}